.app_plum_theme {
  --bg-color: #e8f8f5;
  --inverted-bg-color: #622569;
  --primary-color: #fd7272;
  --secondary-color: #fdcb6e;
  --inverted-primary-color: #82f3d4;
  --inverted-secondary-color: #f8a5c2;
}
