.app_plum_theme {
  --bg-color: #e8f8f5;
  --inverted-bg-color: #622569;
  --primary-color: #fd7272;
  --secondary-color: #ffa600;
  --inverted-primary-color: #82f3d4;
  --inverted-secondary-color: #f8a5c2;
  --skeleton-color: #f0f8f4;
  --skeleton-shadow: rgba(98 37 105 / 30%);

  // code
  --code-bg: #edf3f2;

  // card
  --card-bg: #dce0df;
}
