.ProfileCard, 
.loading {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.loading,
.error {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input:not(:last-child),
.select {
  margin-bottom: 10px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.readonly {
  border-color: var(--inverted-primary-color);
}
